@media screen and (max-width: 1024px) {
	.container {
		width: 100%;
		box-sizing: border-box;
		padding: 0 20px;
	}

	.br-sp {
		display: block;
	}

	.br-pc {
		display: none;
	}

	.top-wrapper h1 {
		font-size: 28px;
	}

	.works__imgwrapper {
  display: inline-block;
  text-align: center;
  width: 100%;
	height:			216px;
	overflow:		hidden;
  position:		relative;
}

.works__imgwrapper img {
  width: 100%;
	max-width: 300px;
  height: 216px;
  transition-duration: 0.3s;
  object-fit: cover;
	/* object-position: top; */
}

	.work-inner {
		/*display: block;*/
		justify-content: normal;
	}

	.work-inner2 {
		/*display: block;*/
	}

	.work-outline {
		text-align: center;
	}

	.work1, .work3 {
		margin-right: 10px;
	}

	/*--------------------------------------
	SKILLS
	--------------------------------------*/
.skills img {
		left: 47px;
	}
}

@media screen and (max-width: 896px) {
/*--------------------------------------
PROFILE
--------------------------------------*/
.profile {
    height: 1200px;
}

.profile__inner {
	display: block;
}

.profile__about {
  /* margin-left: 100px; */
	width: 100%;
	text-align: center;
	margin-top: 30px;
}

.pfp-profile {
  text-align: center;
	width: 100%;
	margin-top: 60px;
}

.works__imgwrapper .caption {
  font-size:		140%;
  width: 100%;
	color:			#fff;
	padding-top:		200px;
  padding-right: 150px;
  text-align: left;
}
.works__imgwrapper .mask {
	width:			100%;
	height:			100%;
	position:		absolute;
	top:			0;
	left:			0;
	opacity:		0;	/* マスクを表示しない */
	background-color:	rgba(0,0,0,0.4);
	-webkit-transition:	all 0.6s ease;
	transition:		all 0.6s ease;
}
.works__imgwrapper:hover .mask {
	opacity:		1;	/* マスクを表示する */
  padding-left:		170px;
  /* 右にずらす */
}

/*--------------------------------------
WORK
--------------------------------------*/
.works__inner {
}

.works__wrapper {
	margin-top: 20px;
}

.works__imgwrapper {
  display: inline-block;
  text-align: center;
  width: 100%;
	/* height:			216px; */
	height: 400px;
	overflow:		hidden;
  position:		relative;
}

.works__imgwrapper img {
  width: 100%;
	max-width: initial;
  /* height: 216px; */
	height: 400px;
  transition-duration: 0.3s;
  object-fit: cover;
	/* object-position: top; */
}

.works__top {
  display: flex;
	justify-content: initial;
	flex-direction: column;
  margin-top: 30px;
}

	.works__bottom {
	  display: none;
	}


/*--------------------------------------
SKILLS
--------------------------------------*/
.skills {
    display: block;
		margin-top: 50px;
		text-align: center;
}

	.skills img {
    width: 100%;
    max-width: 160px;
    position: relative;
		left: 0px;
}


.skills p {
	display: inline-block;
	text-align: center;
}

.skill2, .skill3 {
	margin-top: 60px;
}

/*--------------------------------------
about
--------------------------------------*/
.about {
  display: block;
  margin-top: 70px;
}

.about1, .about2, .about3 {
  width: 100%;
}

.aboutimg-outer {
  height: initial;
}

.about-outer {
  margin-top: 50px;
}

.about img {
  width: 100%;
  max-width: initial;
  height: initial;
}

}

@media screen and (max-width: 480px) {
	/*--------------------------------------
	top-wrapper
	--------------------------------------*/
	.top-wrapper {
		padding-top: 250px;
		padding-bottom: 250px;
		background-size: 130%;
		background-repeat: no-repeat;
		background-size: cover;
		/* background-position: 80%; */
	}

	.top-header {
		position: relative;
		top: 100px;
		/* color: #fff; */
}

	.margin {
		padding-top: 0px;
		padding-bottom: 0px;
		margin-top: 0px;
	}

	/*--------------------------------------
	header
	--------------------------------------*/

	header {
		/*display: none;*/
	}

	header .container {
	    max-width: initial;
	}

	.mheader {
	/*padding-top: 30px;*/
	/*padding-bottom: 30px;*/
	line-height: 70px;
    display: flex;
    justify-content: space-between;
    padding: 0px 0px;
}

	.left-header {
	    font-size: 12px;
	    line-height: 15px;
	    text-align: center;
	    margin-top: 50px;
	}

	.hamburger {
	  display : block;
	  position: fixed;
	  z-index : 3;
	  right : 40px;
	  top   : 40px;
	  width : 42px;
	  height: 42px;
	  cursor: pointer;
	  text-align: center;
	}

/*--------------------------------------
profile
--------------------------------------*/
.profile {
    height: 1300px;
}

	.pfp-profile1, .pfp-profile2, .pfp-profile3 {
		text-align: left;
	}

/*--------------------------------------
WORK
--------------------------------------*/
.works__imgwrapper {
	height:			216px;
}

.works__imgwrapper img {
  height: 216px;
}
/*--------------------------------------
SKILLS
--------------------------------------*/
	.skills {
	    display: block;
	    text-align: center;
	    margin-top: 50px;
	}

	.skills p {
	    width: 100%;
	    margin-top: 15px;
	}

	.skill2, .skill3 {
		margin-top: 60px;
	}

	.skills img {
    width: 100%;
    max-width: 160px;
    position: relative;
		left: 0px;
}

/*--------------------------------------
contact
--------------------------------------*/
	.form1, .form2 {
	    display: block;
	    /*margin: 0 auto;*/
	    width: 100%;
	    max-width: 300px;
	}

	.form2 {
	    height: 88px;
	    padding-top: 10px;
	    padding-left: 10px;
	    margin-top: 15px;
	}

}
