html {
    font-size: 62.5%;
    /*デフォルトサイズ16pxの62.5%つまり10px,1em=10px*/
    /*em≠rem*/
    color: #040442;
}

body {
    font-size: 15px;
    font-family: "Noto Serif SC",serif;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: #040442;
}

ul {
  	list-style: none;
}

.container {
    width: 100%;
  	max-width: 1040px;
	  margin: 0 auto;
}

.fadein {
    opacity : 0;
    transform : translate(0, 50px);
    /* transition : all 300ms; */
    transition : all 900ms;
}
.fadein.scrollin {
    opacity : 1;
    transform : translate(0, 0);
}

/*--------------------------------------
header
--------------------------------------*/

header {
	width: 100%;
	height: 70px;
	position: fixed;
  z-index: 10;
}

header .container {
    max-width: 1350px;
}

.mheader {
  	/*padding-top: 30px;*/
  	/*padding-bottom: 30px;*/
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
}

.left-header {
    font-size: 12px;
    text-align: center;
    margin-top: 70px;
    /*font-family: "Hiragino Sans", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;*/
}

.left-header a {
  display: block;
  position: relative;
}

.left-header a::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 1px;
  background: #333;
  transform: scale(0, 1);
  transform-origin: center top;
  transition: transform .3s;
}

.left-header a:hover::after {
  transform: scale(1, 1);
}

.hamburger p {
    margin-top: 15px;
    font-size: 12px;
    line-height: 5.3;
}

.right-header {
  /* line-height: 8; */
}

/*　ハンバーガーボタン　*/
.hamburger {
  display : block;
  position: fixed;
  z-index : 3;
  right : 90px;
  top   : 63px;
  width : 42px;
  height: 42px;
  cursor: pointer;
  text-align: center;
}
.hamburger span {
  display : block;
  position: absolute;
  width   : 30px;
  height  : 2px ;
  left    : 6px;
  background : #555;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition   : 0.3s ease-in-out;
  transition        : 0.3s ease-in-out;
}
.hamburger span:nth-child(1) {
  top: 10px;
}
.hamburger span:nth-child(2) {
  top: 20px;
}
.hamburger span:nth-child(3) {
  top: 30px;
}

/* ナビ開いてる時のボタン */
.hamburger.active span:nth-child(1) {
  top : 16px;
  left: 6px;
  background :#555;
  -webkit-transform: rotate(-45deg);
  -moz-transform   : rotate(-45deg);
  transform        : rotate(-45deg);
}

.hamburger.active span:nth-child(2),
.hamburger.active span:nth-child(3) {
  top: 16px;
  background :#555;
  -webkit-transform: rotate(45deg);
  -moz-transform   : rotate(45deg);
  transform        : rotate(45deg);
}

.globalMenuSp {
    color: #000;
    /*background-color: red;*/
    visibility: hidden;
}

nav.globalMenuSp {
  position: fixed;
  z-index : 2;
  top  : 0;
  left : 0;
  color: #fff;
  background: rgba(255,255,255);
  text-align: center;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity .6s ease, visibility .6s ease;
  line-height: 3;
  padding-top: 100px;
}

nav.globalMenuSp ul {
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

nav.globalMenuSp ul li {
  list-style-type: none;
  padding: 0;
  width: 100%;
  transition: .4s all;
}
nav.globalMenuSp ul li:last-child {
  padding-bottom: 0;
}
nav.globalMenuSp ul li:hover{
  background :#ddd;
}

nav.globalMenuSp ul li a {
  display: block;
  color: #000;
  padding: 1em 0;
  text-decoration :none;
}

/* このクラスを、jQueryで付与・削除する */
nav.globalMenuSp.active {
    visibility: visible;
    opacity: 100;
}

/*--------------------------------------
top-wrapper
--------------------------------------*/

.top-wrapper {
	padding-top: 500px;
	padding-bottom: 100px;
  /* background-image: url("../img/friedegg.jpg"); */
  background-image: url("../img/antonio-janeski-I4TUNyn55oE-unsplash.jpg");
  background-size: cover;
  background-position: center;
  background-color: #f9f9f9;
  /* background-color: #f2f2f2; */
  position: relative;
  /* background-image: linear-gradient(to top, #dfe9f3 0%, white 100%); */
  overflow: hidden;
  color: #fff;
  /* text-shadow:
    #fff 1px 1px 10px, #fff -1px 1px 10px,
    #fff 1px -1px 10px, #fff -1px -1px 10px; */
}

.top-header {
  text-align: center;
  position: relative;
  /* background-color: #040442; */
  /* opacity: 0.7; */
  display: inline-block;
}

.top-wrapper::before{
content: '';
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
background-color: rgba(0,0,0,0.1);
}

.top-wrapper h1 {
	font-size: 64px;
  text-align: left;
  /* font-family: "Montserrat"; */
  line-height: 1.2;
  font-weight: 800;
  /* background-color: #fff; */
}

.top-wrapper p {
	font-size: 20px;
  text-align: left;
  line-height: 1;
}

/* .top-wrapper::after { */
    content: '';
    display: block;
    /* background: #f4f9ff; */
    background: #000;
    opacity: 0.3;
    position: absolute;
    top: 20px;
    left: 540px;
    bottom: 0;
    /* width: calc(100% - 60px); */
    width: 850px;
    height: 850px;
    border-radius: 850px;
    z-index: 1;
    overflow: hidden;
}

.margin {
	padding-top: 35px;
	padding-bottom: 35px;
	margin-top: -35px;
}




/*--------------------------------------
PROFILE
--------------------------------------*/

.profile {
    height: 720px;
    padding-top: 35px;
    padding-bottom: 70px;
    position: relative;
    z-index: 0;
    overflow: hidden;
    /* height: 340px; */
    /*padding-top: 120px;*/
    /* padding-top: 70px; */
    /*padding-bottom: 120px;*/
    /*margin-top: -70px;*/
    /* background-color: #FFFDFD; */
}

.profile__img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  object-position: 100% 0;
  box-shadow: 5px 10px 20px rgba(0,0,0,0.25);
}

.profile h2 {
    text-align: center;
    font-size: 4rem;
}

.profile__ename {
  font-size: 2.4rem;
  margin-top: 20px;
}

.profile h3 {
  font-size: 2rem;
}

.profile__iconwrapper {
  margin-top: 20px;
}

.fa-twitter, .fa-blog {
  font-size: 3.2rem;
  color: #040442;
}

.fa-twitter {
  margin-right: 10px;
}

.profile__btn {
  display: inline-block;
  width: 200px;
  height: 40px;
  border: 5px solid #333;
  line-height: 40px;
  margin-top: 20px;
}

.profile__btn:hover {
  background-color: #040442;
  color: #fff;
}


.profile__inner {
    /*padding-top: 70px;*/
  	margin-top: 50px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.profile__myphoto {
	display: flex;
}

.details {
	/* width: 100%; */
	/*margin-left: 80px;*/
  /*text-align: center;*/
}

.profile__about {
  /* margin-left: 100px; */
  width: 60%;
}

.p-about {
  margin-top: 10px;
  /* width: 450px; */
  /* padding-top: 10px; */
  /* margin: 0 auto; */
  text-align: left;
  width: 400px;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

tr {
  display: table-row;
}

th {
  position: relative;
  width: 30%;
  /* background-color: #eee; */
  background-color: #E9EAF5;
  text-align: center;
  padding: 10px 0;
}

table td:first-child {
    padding: 27px 0 20px;
}

table tr {
    border-bottom: solid 2px #eee;
}

.philosophy {
	margin-top: 70px;
}

.pfp-link {
  margin-top: 50px;
  position: relative;
  text-align: center;
}

.pfp-link a {
  background: linear-gradient(currentcolor, currentcolor) right bottom / 100% 1px no-repeat;
  padding-bottom: 2px;
  transition: background-size .4s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.pfp-link a:hover {
  background-position: left bottom;
  background-size: 0 1px;
}



.pfp-profile {
  text-align: left;
  width: 60%;
}

.pfp-subtitle {
	font-weight: bold;
	/* background-color: #eee; */
	background-color: #E9EAF5;
	padding: 10px 10px;
  /* box-shadow: 1px 1px 10px rgba(0,0,0,0.25); */
}

.pfp-subtitle2, .pfp-subtitle3 {
	font-weight: bold;
	/* background-color: #eee; */
	background-color: #E9EAF5;
	padding: 10px 10px;
  /* box-shadow: 1px 1px 10px rgba(0,0,0,0.25); */
  margin-top: 30px;
}

.pfp-profile1, .pfp-profile2, .pfp-profile3 {
  line-height: 1.7;
}

.pfp-profile1 {
	margin-top: 30px;
}

.pfp-profile2 {
	margin-top: 15px;
}

.pfp-profile3 {
	margin-top: 15px;
}

.brpc {
}

/*--------------------------------------
WORK
--------------------------------------*/
.works {
    text-align: center;
    padding: 70px 0;
    background-color: #f9f9f9;
}

.works h2 {
  font-size: 4rem;
}

.works__inner {
  margin-top: 50px;
}

.works__wrapper {
  /* margin-top: 15px; */
}

.works__top, .works__bottom{
  display: flex;
  justify-content: space-between;
  /* margin-top: 15px; */
}

.works__bottom {
  margin-top: 10px;
}

.works__imgwrapper {
  display: inline-block;
  text-align: center;
  width: 340px;
	height:			216px;
	overflow:		hidden;
  position:		relative;
}

.works__imgwrapper img {
  width: 100%;
  width: 340px;
  height: 216px;
  transition-duration: 0.3s;
  object-fit: cover;
}

.works__imgwrapper .caption {
  font-size:		140%;
  width: 100%;
	color:			#fff;
	padding-top:		100px;
  padding-right: 150px;
  text-align: left;
}
.works__imgwrapper .mask {
	width:			100%;
	height:			100%;
	position:		absolute;
	top:			0;
	left:			0;
	opacity:		0;	/* マスクを表示しない */
	background-color:	rgba(0,0,0,0.4);
	-webkit-transition:	all 0.6s ease;
	transition:		all 0.6s ease;
}
.works__imgwrapper:hover .mask {
	opacity:		1;	/* マスクを表示する */
  padding-left:		120px;
  /* 右にずらす */
}

.wkp-link {
  margin-top: 50px;
}

.wkp-link a{
  background: linear-gradient(currentcolor, currentcolor) right bottom / 100% 1px no-repeat;
  padding-bottom: 2px;
  transition: background-size .4s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.wkp-link a:hover {
  background-position: left bottom;
  background-size: 0 1px;
}

/*--------------------------------------
skills
--------------------------------------*/
.skill-wrapper {
    padding-top: 70px;
    padding-bottom: 70px;
    /* background-color: #ffee6b; */
    background-color: #E9EAF5;
}

.skill-wrapper h2 {
    text-align: center;
    font-size: 4rem;
}

.skills {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.skills img {
    width: 100%;
    max-width: 160px;
    position: relative;
    left: 47px;
}

.skills h3 {
    text-align: center;
    margin-top: 30px;
}

.skills p {
    width: 250px;
    margin-top: 15px;
}

.skp-link {
  margin-top: 50px;
  text-align: center;
}

.skp-link a {
  display: inline-block;
  position: relative;
  background: linear-gradient(currentcolor, currentcolor) right bottom / 100% 1px no-repeat;
  padding-bottom: 2px;
  line-height: 1;
	transition: background-size .4s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.skp-link a:hover {
  background-position: left bottom;
	background-size: 0 1px;
}

/*--------------------------------------
BLOG
--------------------------------------*/
.blog-wrapper {
    text-align: center;
    padding: 70px 0;
    /* background-color: #E9EAF5; */
    /* background-color: #f9f9f9; */
    /* background-color: rgb(4, 4, 66,0.8); */
    overflow: hidden;
    position: relative;
    /* padding: calc(100vw * 0.12) 0; */
    /* background-image: url("../img/stardust_@2X.png"); */
    /* background-size: cover; */
}

.blog-wrapper h2{
    font-size: 4rem;
}

.blog {
    margin-top: 30px;
}

.sns-twitter {
  /*box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.25);*/
  /*background-color: #00AEEF;*/
  /*color: #fff;*/
  display: inline-block;
  /*padding: 0.6em 2em;*/
  /*margin: 0 0 1em;*/
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.sns-twitter:hover {
  box-shadow: 0px 1px 0px 0 rgba(0, 0, 0, 0.25);
  transform: translateY(-0.1875em);
}

#twitter {
    margin-top: 30px;
    font-size: 64px;
    /* color:  #00AEEF; */
    display: block;
}

.blog-wrapper h3 {
  margin-top: 10px;
}

.latest-article {
  margin-top: 50px;
}

.latestimg {
  display: inline-block;
  text-align: center;
	height:			300px;
	overflow:		hidden;
	/* margin:			10px 8px 10px 16px; */
  position:		relative;
  box-shadow: 5px 10px 8px rgba(0,0,0,0.25);
  /* box-shadow: 1px 1px 3px rgba(0,0,0,0.25) */
}

.latest-article img {
  width: 100%;
  max-width: 475px;
  height: 100%;
  object-fit: cover;
  display: block;
  transition-duration: 0.3s;
}

.latestimg .caption {
	font-size:		140%;
	color:			#fff;
	padding-top:		140px;
	padding-right: 150px;
}
.latestimg .mask {
	width:			100%;
	height:			100%;
	position:		absolute;
	top:			0;
	left:			0;
	opacity:		0;	/* マスクを表示しない */
	background-color:	rgba(0,0,0,0.4);
	-webkit-transition:	all 0.6s ease;
	transition:		all 0.6s ease;
}
.latestimg:hover .mask {
	opacity:		1;	/* マスクを表示する */
	padding-left:		90px;	/* 右にずらす */
}



.blog-title {
  display: block;
  margin-top: 15px;
  font-size: 2rem;
}

.latest-article time {
  display: block;
  font-size: 1.2rem;
  margin-top: 10px;
}

.bp-link {
  margin-top: 50px;
}

.bp-link a{
  background: linear-gradient(currentcolor, currentcolor) right bottom / 100% 1px no-repeat;
  padding-bottom: 2px;
  transition: background-size .4s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.bp-link a:hover {
  background-position: left bottom;
  background-size: 0 1px;
}

/*--------------------------------------
contact
--------------------------------------*/

.contact {
	text-align: center;
	padding: 70px 0;
  /* border: 2px solid #f9f9f9; */
  background-color: #f9f9f9;
  /* background-color: rgb(4, 4, 66,0.6); */
}

.contact h2 {
    font-size: 4rem;
}

.form {
    margin-top: 50px;
}

.form1, .form2 {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 720px;
}

.form1 {
    height: 55px;
    padding-left: 10px;
}

.form2 {
    height: 88px;
    padding-top: 10px;
    padding-left: 10px;
    margin-top: 15px;
}

.send {
    border-radius: 50px;
    font-size: 1.6rem;
    font-weight: 600;
    border: none;
    width: 200px;
    height: 55px;
    margin-top: 41px;
    cursor: pointer;
}

.send:hover {
  letter-spacing: 5px;
}

.send, .send::before, .send::after {
  transition: all .3s;
}

.contact-exp {
  margin-top: 50px;
  margin-left: 15px;
}

.contact-outer {
  margin-top: 30px;
  /* text-align: left; */
}

.cont-twitter, .cont-mail {
  display: flex;
  justify-content: center;
  font-size: 2rem;
}

.cont-mail {
  margin-top: 10px;
}

.cont-twitter a {
  /* color: #0000cc; */
  transition: all 0.3s ease 0s;
}

.cont-twitter a:hover {
  box-shadow: 0px 1px 0px 0 rgba(0, 0, 0, 0.25);
  transform: translateY(-0.1875em);
}

.ct-margin {
  margin-right: 10px;
}

/*--------------------------------------
footer
--------------------------------------*/
footer {
	/* background-color: #f9f9f9; */
  padding: 30px 0 30px 0;
  background-color: rgb(4, 4, 66);
  color: #fff;
}

.copy-right {
	text-align: center;
}

#page_top{
width: 40px;
height: 40px;
position: fixed;
right: 0;
bottom: 10px;
background: #444444;
opacity: 0.6;
}

#page_top a{
position: relative;
display: block;
width: 40px;
height: 40px;
text-decoration: none;
}

#page_top a::after{
content: '▲';
font-size: 14px;
font-weight: bold;
color: #fff;
position: absolute;
top: 13px;
bottom: 0;
right: 0;
left: 0;
margin: auto;
text-align: center;
}
