.wp-wrapper {
  padding: 200px 60px;
}

.wp-wrapper::after {
    content: '';
    display: block;
    background: #f9f9f9;
		position: absolute;
		top: 230px;
		left: 160px;
		width: calc(100% - 160px);
		/* width: 80%; */
		padding-bottom: 950px;
		z-index: -1;
		height: calc(100% - 160px);
}

.wp-wrapper h2 {
  font-size: 4rem;
}

.work-outer {
  margin-top: 70px;
}

.wpimage-wrapper {
    display: inline-block;
    height: 220px;
    overflow: hidden;
}

.work-outer img {
    width: 100%;
    max-width: 360px;
/*     height: 100%; */
    object-fit: cover;


    display: block;
    transition-duration: 0.3s;
}

.work-outer img:hover {
  transform: scale(1.1);	/*画像の拡大率*/
	transition-duration: 0.3s;
}

.wp-title {
  display: block;
}

.wp-title a {
  display: inline-block;
  font-weight: bold;
  margin-top: 18px;

  background: linear-gradient(currentcolor, currentcolor) right bottom / 100% 1px no-repeat;
  padding-bottom: 2px;
  transition: background-size .4s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.wp-title a:hover {
  background-position: left bottom;
  background-size: 0 1px;
}


.work-outer p {
  margin-top: 15px;
  width: 100%;
  max-width: 360px;
  line-height: 27px;
}

.work-img1 {
  padding-bottom: 13px; 画像統一のためのpb
}

.work-inner1, .work-inner2, .work-inner3 {
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 1024px) {
	.wp-wrapper::after  {
		content: '';
    display: block;
    /* background: #f4f9ff; */
    background: #f9f9f9;
    /* opacity: 0.8; */
    position: absolute;
    top: 230px;
    left: 30px;
    bottom: 0;
    width: calc(100% - 30px);
    height: calc(100% - -780px);
    z-index: -1;
    overflow: hidden;
	}
}

@media screen and (max-width: 896px) {
  .wp-wrapper {
  padding: 200px 30px;
}

.work-outer {
  margin-top: initial;
}

.work-inner1 {
  margin-top: 30px;
}

  .wp2, .wp4, .wp6 {
    /* margin-left: 15px; */
  }

  .wp2, .wp3, .wp4, .wp5, .wp6 {
    /* margin-left: 15px; */
    margin-top: 60px;
  }

  .wpimage-wrapper {
    max-width: initial;
}

.work-outer p {
  max-width: initial;
}

  .work-inner1, .work-inner2, .work-inner3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  }
}

@media screen and (max-width: 480px) {
    .work-img1 {
  padding-bottom: 7px; /*画像統一のためのpb*/
}
}
